<% provide(:title, "Home") %>
<h1> ProjetosDoBom </h1> (melhor nome a ser pensado...)
<br>
<br> Bem-vindos ao site dos projetos, onde você pode expor os seus, ver e fazer outros! </br>
<br><img src="http://cdn.grid.fotosearch.com/CSP/CSP506/k5064231.jpg"></br>
<br><%= link_to "Veja os projetos!", posts_path %> <%= link_to "Cadastre-se!", users_new_path %></br>

