<% provide(:title, "Início") %>
<br><h2>Bem-vindos ao site dos projetos, onde você pode expor os seus, ver e fazer outros!</h2>
<br><img src="http://cdn.grid.fotosearch.com/CSP/CSP506/k5064231.jpg"></br>
<br>
<%= link_to "Veja os projetos!", posts_path, { :class=>"btn waves-effect waves-light orange" } %>