// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postShowDesc{
	margin: 5%;
	width: 90%;
	text-align: left;
}
